<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{roomName}} - Chatroom</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the {{roomName}} Chatroom</h1>
    <div id="chatContainer">
        <div id="messages">
            <!-- Messages will be loaded here -->
        </div>
        <form id="messageForm">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" required>
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" required>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="/scripts/room.js"></script>
</body>
</html>
